<div class="home__container">
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="BESOURO"
    gamePrice="R$ 1900,00"
    gameType="PS4 | PS5"></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="BESOURO"
    gamePrice="R$ 1900,00"
    gameType="PS4 | PS5"></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="DAORA"
    gamePrice="R$ 400,00"
    gameType="PS2 | PS3"></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="BESOURO"
    gamePrice="R$ 1900,00"
    gameType="PS4 | PS5"></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="JAVALI"
    gamePrice="R$ 20,00"
    gameType="PS4 | PS5"></app-card>
</div>
